* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	font-family: 'Karla', sans-serif;
}

.intro-section {
	background-image: url(https://images.unsplash.com/photo-1652768562653-5131a779c581?ixlib=rb-1.2.1&raw_url=true&q=100&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 75px 95px;
	min-height: 100vh;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	color: #ffffff;
    position: relative;
    z-index: 1;
}
.intro-section::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 30%);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}
.brand-wrapper, .intro-content-wrapper, .intro-section-footer {
    z-index: 3;
}
@media (max-width: 991px) {
	.intro-section {
		padding-left: 50px;
		padding-right: 50px;
	}
}

@media (max-width: 767px) {
	.intro-section {
		padding: 28px;
	}
}

@media (max-width: 575px) {
	.intro-section {
		min-height: auto;
	}
}

.brand-wrapper .logo {
	height: 35px;
}

@media (max-width: 767px) {
	.brand-wrapper {
		margin-bottom: 35px;
	}
}

.intro-content-wrapper {
	width: 410px;
	max-width: 100%;
	margin-top: auto;
	margin-bottom: auto;
}

.intro-content-wrapper .intro-title {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 17px;
}

.intro-content-wrapper .intro-text {
	font-size: 19px;
	line-height: 1.37;
}

@media (max-width: 767px) {
	.intro-section-footer {
		margin-top: 35px;
	}
}

.intro-section-footer .footer-nav a {
	font-size: 20px;
	font-weight: bold;
	color: inherit;
}

@media (max-width: 767px) {
	.intro-section-footer .footer-nav a {
		font-size: 14px;
	}
}

.intro-section-footer .footer-nav a+a {
	margin-left: 30px;
}

.form-section {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

@media (max-width: 767px) {
	.form-section {
		padding: 35px;
	}
}

.login-wrapper {
	width: 300px;
	max-width: 100%;
}

@media (max-width: 575px) {
	.login-wrapper {
		width: 100%;
	}
}

.form-control {
	border: 0;
	border-bottom: 1px solid #e7e7e7;
	border-radius: 0;
	font-size: 14px;
	font-weight: bold;
	padding: 15px 10px;
	margin-bottom: 7px;
}

.form-control::-webkit-input-placeholder {
	color: #b0adad;
}

.form-control::-moz-placeholder {
	color: #b0adad;
}

.form-control:-ms-input-placeholder {
	color: #b0adad;
}

.form-control::-ms-input-placeholder {
	color: #b0adad;
}

.form-control::placeholder {
	color: #b0adad;
}

.login-title {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 30px;
}

.login-btn {
	padding: 13px 30px;
	background-color: #000;
	border-radius: 0;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}

.login-btn:hover, .home-btn:hover {
	border: 1px solid #000;
	background-color: transparent;
	color: #000;
}
.home-btn, .sec-btn {
	padding: 8px 20px;
	background-color: #000;
	border-radius: 0;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	margin: 0 5px 5px 0;
}
.sec-btn {
	background-color: transparent;
	color: #000;
	border: 1px solid #000;
}
.sec-btn:hover {
	background-color: #000;
	color: #fff;
}
.forgot-password-link {
	font-size: 14px;
	color: #080808;
	text-decoration: underline;
}

.social-login-title {
	font-size: 15px;
	color: #919aa3;
	display: -webkit-box;
	display: flex;
	margin-bottom: 23px;
}

.social-login-title::before,
.social-login-title::after {
	content: "";
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#f4f4f4));
	background-image: linear-gradient(#f4f4f4, #f4f4f4);
	-webkit-box-flex: 1;
	flex-grow: 1;
	background-size: calc(100% - 20px) 1px;
	background-repeat: no-repeat;
}

.social-login-title::before {
	background-position: center left;
}

.social-login-title::after {
	background-position: center right;
}

.social-login-links {
	text-align: center;
	margin-bottom: 32px;
}

.social-login-link img {
	width: 40px;
	height: 40px;
	-o-object-fit: contain;
	object-fit: contain;
}

.social-login-link+.socia-login-link {
	margin-left: 16px;
}

.login-wrapper-footer-text {
	font-size: 14px;
	text-align: center;
}
.avatar {
	max-width: 40px;
}
.username {
	display: inline-block;
	margin-right: 1rem;
}

/* table styling */
th {
	vertical-align: middle;
	font-size: 14px;
}
td {
	vertical-align: middle;
	font-size: 0.9375rem;
}

.admin-icon {
	cursor: pointer;
}
.modal {
	transition: all .3s ease-in-out;
}

/* custom label for dept. */
.dept-label {
	position: absolute;
    top: 0;
    z-index: 5;
    color: #b0adad;
    font-weight: bold;
    font-size: 14px;
    padding: 15px 10px;
}

/* edit form */
@media(min-width: 992px) {
	.edit-form {
		max-width: 50%;
	}
}

.sort {
	cursor: pointer;
}

.float-right {
	float: right;
}